<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-success">
                <h4 class="card-title">Mac Address Distribution</h4>
            </div>
            <div #container (click)="treeClicked($event)">

            </div>
            <mat-slider tickInterval={{tick}} step={{step}} min={{min}} max={{max}}
                        (change)="onChangeRange($event)">
            </mat-slider>
            <br>
            <h4 class=captureLabel *ngIf="isCapture">CAPTURE ON: {{capturedLocation}}</h4>
            <h4 class="timeLabel">Time: {{formatLabel(showTime)}}</h4>

            <form>
                <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Choose start date" [(ngModel)]="pickerOne"
                           name="one">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                    <input matInput [matDatepicker]="picker2" placeholder="Choose end date" [(ngModel)]="pickerTwo"
                           name="two">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
                <button id="button1" class="text-warning" mat-raised-button (click)="setCaptureToFalse()">Reset</button>
                <button id="button2" class="text-success" mat-raised-button (click)="dateRangeAndIntervalSelected()">Submit</button>
                <button id="button3" class="text-success" mat-raised-button (click)="exportAsCsv()">Export as CSV</button>
            </form>




        </div>
    </div>
